@model System.Collections.Generic.IEnumerable<Ilanify.Domain.Entities.RealEstate>

@{
    ViewBag.Title = "Profilim - Pasif İlanlarım";
    Layout = "_Layout";
}

<div class="container my-listings">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("/Views/Default/_Leftbar.cshtml")
        </div>
        <div class="col-md-8">
            @foreach (var realEstate in Model)
            {
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            @foreach (var image in realEstate.Images.Take(1))
                            {
                                <img src="@Url.Content($"~/images/real-estate-images/{image.ImageUrl}")" class="card-img" alt="@realEstate.Title">
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="profile-estate-title">@realEstate.Title</h5>
                                <p class="profile-estate-text mt-2">@realEstate.Type @realEstate.Category.Name - @realEstate.Location.District / @realEstate.Location.Neighborhood</p>
                                <p class="profile-estate-text">Yayınlanma Tarihi: @realEstate.ListingDate.ToString("dd.MM.yyyy")</p>
                                <div class="position-absolute">
                                    <span class="price">@realEstate.Price.ToString("N1") TL</span>
                                </div>
                                <form asp-action="ActivateRealEstates" asp-route-id="@realEstate.Id" method="post" class="active-form">
                                    <button type="submit" class="btn btn-custom">Yayına Al</button>
                                </form>

                                <div class="dropdown dropdown-button">
                                    <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        İşlemler
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item" asp-action="" asp-route-id="@realEstate.Id">Düzenle</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-action="" asp-route-id="@realEstate.Id">Sil</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>