@using Ilanify.Domain.Entities
@model IEnumerable<RealEstate>

@{
    ViewBag.Title = "Profilim - İlanlarım";
    Layout = "_Layout";
}

<div class="container mt-4 profile-page">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("/Views/Default/_Leftbar.cshtml")
        </div>
        <div class="col-md-9">
            <div class="list-group">
                @foreach (var realEstate in Model)
                {
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-md-3 position-absolute">
                                @foreach (var image in realEstate.Images.Take(1))
                                {
                                    <img src="@Url.Content($"~/images/real-estate-images/{image.ImageUrl}")" class="img-thumbnail" alt="@realEstate.Title" style="width: 100px; height: 75px; object-fit: cover;">
                                }
                            </div>
                            <div class="col-md-9">
                                <h6 class="my-estate-title">@realEstate.Title</h6>
                                <small class="d-block text-muted">@realEstate.Category.Name - @realEstate.Location.District/@realEstate.Location.Neighboord</small>
                                <small class="text-muted">@realEstate.ListingDate.ToString("dd.MM.yyyy")</small>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted my-estate-price">@realEstate.Price.ToString("C")</small>
                                    <a href="@Url.Action("Details", "RealEstate", new { realEstateId = realEstate.Id })" class="btn btn-primary">Detaylar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>