@model IEnumerable<Ilanify.Domain.Entities.RealEstate>

@{
    ViewBag.Title = "Real Estates";
    Layout = "_AdminLayout";
}

<h2>Real Estates</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Category</th>
        <th>City</th>
        <th>District</th>
        <th>Neighborhood</th>
        <th>Type</th>
        <th>Price</th>
        <th>Username</th>
        <th>Listing Date</th>
        <th>Details</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var realEstate in Model)
    {
        <tr>
            <td>@realEstate.Id</td>
            <td>@realEstate.Title</td>
            <td>@realEstate.Category.Name</td>
            <td>@realEstate.Location.City</td>
            <td>@realEstate.Location.District</td>
            <td>@realEstate.Location.Neighborhood</td>
            <td>@realEstate.Type</td>
            <td>@realEstate.Price</td>

            <td>@realEstate.ApplicationUser.UserName</td>
            <td>@realEstate.ListingDate.ToString("dd/MM/yyyy")</td>
            <td>
                <a href="/RealEstate/Details?realEstateId=@realEstate.Id" class="btn btn-outline-success">Details</a>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton@realEstate.Id" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton@realEstate.Id">
                        <li>
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@realEstate.Id">Edit</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@realEstate.Id">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>