@model System.Collections.Generic.List<Ilanify.Domain.Entities.ApplicationUser>

@{
    ViewBag.Title = "Admin Profile";
    Layout = "_AdminLayout";
}

<a href="@Url.Action("Create", "AdminProfile")" class="btn btn-outline-primary float-end">Create User</a>
<h2>Admin Profile</h2>

<table class="table">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="actionMenuButton@user.Id" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="actionMenuButton@user.Id">
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Edit", "AdminProfile", new { userId = user.Id })">Edit</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Delete", "AdminProfile", new { userId = user.Id })">Delete</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action("AddRole", "AdminProfile", new { userId = user.Id })">Add Role</a>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
    }
    </tbody>
</table>