@model System.Collections.Generic.IEnumerable<Ilanify.Domain.Entities.CategoryAttribute>

@{
    ViewBag.Title = "Category Attributes";
    Layout = "_AdminLayout";
}

<a href="@Url.Action("Create", "AdminCategoryAttribute")" class="btn btn-outline-primary float-end">Add New Attribute</a>
<h2>Category Attributes</h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>CategoryId</th>
        <th>Name</th>
        <th>Data Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var categoryAttribute in Model)
    {
        <tr>
            <td>@categoryAttribute.Id</td>
            <td>@categoryAttribute.Category.Name</td>
            <td>@categoryAttribute.Name</td>
            <td>@((int)categoryAttribute.DataType == 1 ? "Text" : (int)categoryAttribute.DataType == 2 ? "Number" : "Boolean")</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton@categoryAttribute.Id" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton@categoryAttribute.Id">
                        <li>
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@categoryAttribute.Id">Edit</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@categoryAttribute.Id">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>