@model IEnumerable<Ilanify.Domain.Entities.AttributeValue>

@{
    ViewBag.Title = "Attribute Values";
    Layout = "_AdminLayout";
}

<h2>Attribute Values</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>RealEstateId</th>
        <th>CategoryAttribute Name</th>
        <th>Value</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var attributeValue in Model)
    {
        <tr>
            <td>@attributeValue.AttributeValueId</td>
            <td>@attributeValue.RealEstate.Id</td>
            <td>@attributeValue.CategoryAttribute.Name</td>
            <td>@attributeValue.Value</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton@attributeValue.AttributeValueId" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton@attributeValue.AttributeValueId">
                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@attributeValue.AttributeValueId">Edit</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@attributeValue.AttributeValueId">Delete</a></li>
                    </ul>
                </div>

            </td>
        </tr>
    }
    </tbody>
</table>