@using Ilanify.Domain.Entities
@using System.Security.Claims
@model RealEstate

@{
    ViewBag.Title = "İlan Detayı";
    Layout = "_Layout";
    var images = Model.Images.ToList();
    
    ViewBag.DetailSpecificScript = true;
}

<div class="container detail-page">
    <div class="row">
        <div class="col-md-9">
            <div class="detail-card">
                <h1 class="detail-title">@Model.Title</h1>
                <div class="main-image-container">
                    <button class="image-nav left-arrow" onclick="navigateMainImage(-1)">&#10094;</button>
                    <img id="main-image" src="/images/real-estate-images/@Model.Images.FirstOrDefault()?.ImageUrl" alt="İlan Resmi" class="detail-main-image"/>
                    <button class="image-nav right-arrow" onclick="navigateMainImage(1)">&#10095;</button>
                </div>
                <div class="thumbnail-navigation">
                    <div class="thumbnail-nav left-arrow" onclick="navigateThumbnail(-1)">&#10094;</div>
                    <div class="thumbnails-wrapper">
                        @foreach (var image in Model.Images.Select((value, index) => new { value, index }))
                        {
                            <img src="/images/real-estate-images/@image.value.ImageUrl"
                                 alt="İlan Resmi"
                                 class="detail-thumbnail-image"
                                 data-index="@image.index"
                                 data-image-url="/images/@image.value.ImageUrl"
                                 onclick="changeMainImage(@image.index)">
                        }
                    </div>
                    <div class="thumbnail-nav right-arrow" onclick="navigateThumbnail(1)">&#10095;</div>
                </div>
            </div>
            <div class="location-card">
                <h2 class="location-title">İlan Konumu</h2>
                <i class="fa-regular fa-location-dot"></i>
                <p class="location-text">@Model.Location.City - @Model.Location.District - @Model.Location.Neighborhood</p>
                <div id="map" style="height: 400px;"
                     data-city="@Model.Location.City"
                     data-district="@Model.Location.District"
                     data-neighborhood="@Model.Location.Neighborhood">
                </div>
            </div>
            <div class="property-card">
                <p class="property-title">İlan Bilgileri</p>
                <div class="property-text"><strong>İlan Numarası</strong> <span>@Model.Id</span></div>
                <div class="property-text"><strong>İlan Oluşturma Tarihi</strong> <span>@Model.ListingDate.ToString("dd.MM.yyyy")</span></div>
                <div class="property-text"><strong>İlan Kategorisi</strong> <span>@Model.Category.Name</span></div>
                <div class="property-text"><strong>Türü</strong> <span>@Model.Type</span></div>
                <div class="property-text"><strong>Metrekare</strong> <span>@Model.SquareMeters m²</span></div>
                @foreach (var attributeValue in Model.AttributeValues)
                {
                    <div class="property-text">
                        <strong>@attributeValue.CategoryAttribute.Name</strong> <span>@attributeValue.Value</span>
                    </div>
                }
            </div>
            
            <div class="description-card">
                <p class="description-title">İlan Açıklaması</p>
                <p class="description-text">@Model.Description</p>
            </div>
        </div>
        <div class="col-md-3 p-lg-2">
            <div class="detail-price">@Model.Price.ToString("N1") TL</div>
            <div class="selected-attributes">
                <p class="selected-attribute">@Model.AttributeValues.FirstOrDefault(av => av.CategoryAttribute.Name == "Oda Sayısı")?.Value</p>
                <p class="selected-attribute">@Model.SquareMeters m²</p>
                <p class="selected-attribute">@(Model.AttributeValues.FirstOrDefault(av => av.CategoryAttribute.Name == "Kat Sayısı")?.Value). Kat</p>
            </div>
            <div class="estate-id">
                <i class="fa fa-id-card" aria-hidden="true"></i>
                <small class="text-muted estate-id-text">İlan No: @Model.Id</small>
            </div>
            <div class="detail-listed-date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <small class="text-muted">@Model.ListingDate.ToString("dd.MM.yyyy")</small>
            </div>
            <div class="detail-user-card">
                <img src="/images/profile-pictures/@Model.ApplicationUser.ProfileImageUrl" alt="Kullanıcı Resmi" class="detail-user-image" onerror="this.src='/images/no-image.webp'"/>
                <h2 class="detail-user-name">@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h2>
                <a href="#" data-phone-number="@Model.ApplicationUser.PhoneNumber" class="detail-user-phone" onclick="showPhoneNumberAndEnableCall(this); return false;">
                    <span class="phone-number">Telefonu Gör</span>
                </a>
                <div class="detail-actions">
                    <form id="addFavoriteForm" method="post" action="/RealEstate/AddFavorite">
                        <input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
                        <input type="hidden" name="realEstateId" value="@Model.Id"/>"
                        <button class="action-button favorite">
                            <i class="fa fa-heart" aria-hidden="true"></i> Favorilere Ekle
                        </button>
                    </form>
                    <button class="action-button share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> İlanı Paylaş
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>