@using Ilanify.Domain.Entities
@model IEnumerable<RealEstate>

<h2>@ViewData["Location"]</h2>
<div class="location-page">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    Filtreleme Seçenekleri
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @foreach (var realEstate in Model)
            {
                <a href="@Url.Action("Details", "RealEstate", new { realEstateId = realEstate.Id })" class="text-decoration-none">
                    <div class="card mb-3">
                        <div class="listing-date position-absolute">
                            <small class="text-muted">@realEstate.ListingDate.ToString("dd.MM.yyyy")</small>
                        </div>
                        <div class="row no-gutters m-1">
                            <div class="col-md-4 mt-3 mb-3">
                                @foreach (var image in realEstate.Images)
                                {
                                    <img src="/images/real-estate-images/@image.ImageUrl" class="card-img" style="width:100%; height:auto;">
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="estate-price">@realEstate.Price.ToString("N1") TL</h5>
                                    <p class="estate-title">@realEstate.Title</p>
                                    <p class="card-text">
                                        <small class="estate-property">@realEstate.Type @realEstate.Category.Name | @realEstate.SquareMeters m²</small>
                                        @foreach (var attributeValue in realEstate.AttributeValues.Where(av => av.CategoryAttribute.Name == "Oda Sayısı"))
                                        {
                                            <small class="estate-property">| @attributeValue.Value</small>
                                        }
                                        @foreach (var attributeValue in realEstate.AttributeValues.Where(av => av.CategoryAttribute.Name == "Kat Sayısı"))
                                        {
                                            <small class="estate-property">| @(attributeValue.Value). Kat</small>
                                        }
                                        @foreach (var attributeValue in realEstate.AttributeValues.Where(av => av.CategoryAttribute.Name == "Bina Yaşı"))
                                        {
                                            if (int.TryParse(attributeValue.Value, out int age))
                                            {
                                                <small class="estate-property">| @(DateTime.Now.Year - age) Yaşında</small>
                                            }
                                        }
                                    </p>
                                    <p class="card-text">
                                        <i class="fa-regular fa-location-dot"></i><small class="text-muted location-info"> @realEstate.Location.District, @realEstate.Location.Neighboord</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>