@using Ilanify.Domain.Entities
@model IEnumerable<RealEstate>

<h2>@ViewData["Location"]</h2>
<div class="location-page">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    Filtreleme Seçenekleri
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @foreach (var realEstate in Model)
            {
                <div class="card mb-3">
                    <div class="listing-date position-absolute">
                        <small class="text-muted">@realEstate.ListingDate.ToString("dd.MM.yyyy")</small>
                    </div>
                    <div class="row no-gutters m-1">
                        <div class="col-md-4 mt-3 mb-3">
                            @foreach (var image in realEstate.Images)
                            {
                                <img src="/images/@image.ImageUrl" class="card-img" style="width:280px; height:210px;">
                            }
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="estate-price">@realEstate.Price.ToString("N1") TL</h5>
                                <p class="estate-title">@realEstate.Title</p>
                                <p class="card-text">
                                    <small class="estate-property">@realEstate.Type @realEstate.Category.Name</small>
                                    <small class="estate-property">| @realEstate.SquareMeters m²</small>
                                </p>
                                <p class="card-text">
                                    <i class="fa-regular fa-location-dot"></i><small class="text-muted"> @realEstate.Location.District, @realEstate.Location.Neighboord</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>