@using Ilanify.Domain.Entities
@model IEnumerable<RealEstate>

<h2>@ViewData["Location"]</h2>
<div class="location-page">

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    Filtreleme Seçenekleri
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @foreach (var realEstate in Model)
                        {
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    @foreach (var image in realEstate.Images)
                                    {
                                        <img src="/images/@image.ImageUrl" class="card-img-top" alt="@realEstate.Title">
                                    }
                                    <div class="card-body">
                                        <h5 class="card-title">@realEstate.Title</h5>
                                        <p class="card-text">@realEstate.Description</p>
                                        <a href="@Url.Action("Details", "RealEstate", new { id = realEstate.Id })" class="btn btn-primary">Detaylar</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>