@using Ilanify.Domain.Entities
@model IEnumerable<RealEstate>

<h2>@ViewData["Location"]</h2>
<div class="location-page">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form id="filtersForm">
                        <div class="form-group">
                            <label for="categoryId">Category</label>
                            <select class="form-control" id="categoryId" name="categoryId">
                                <option value="">Select Category</option>
                                <option value="2">Ev</option>
                                <option value="3">İşyeri</option>
                                <option value="4">Arsa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city" value="@ViewBag.City">
                        </div>
                        <div class="form-group">
                            <label for="district">District</label>
                            <input type="text" class="form-control" id="district" name="district">
                        </div>
                        <div class="form-group">
                            <label for="neighborhood">Neighboord</label>
                            <input type="text" class="form-control" id="neighborhood" name="neighborhood">
                        </div>
                        <div class="form-group">
                            <label for="roomCount">Room Count</label>
                            <select class="form-control" id="roomCount" name="roomCount">
                                <option value="">Select Room Count</option>
                                <option value="1+0">1+0</option><option value="1+1">1+1</option>
                                <option value="2+1">2+1</option><option value="3+1">3+1</option>
                                <option value="4+1">4+1</option><option value="5+1">5+1</option>
                                <option value="6+1">6+1</option><option value="7+1">7+1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="minPrice">Min Price</label>
                            <input type="text" class="form-control" id="minPrice" name="minPrice">
                        </div>
                        <div class="form-group">
                            <label for="maxPrice">Max Price</label>
                            <input type="text" class="form-control" id="maxPrice" name="maxPrice">
                        </div>
                        <div class="form-group">
                            <label for="minSquareMeters">Min Square Meters</label>
                            <input type="text" class="form-control" id="minSquareMeters" name="minSquareMeters">
                        </div>
                        <div class="form-group">
                            <label for="maxSquareMeters">Max Square Meters</label>
                            <input type="text" class="form-control" id="maxSquareMeters" name="maxSquareMeters">
                        </div>
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="realEstateContainer">
            @foreach (var realEstate in Model)
            {
                <a href="@Url.Action("Details", "RealEstate", new { realEstateId = realEstate.Id })" class="text-decoration-none">
                    <div class="card mb-3">
                        <div class="listing-date position-absolute">
                            <small class="text-muted">@realEstate.ListingDate.ToString("dd.MM.yyyy")</small>
                        </div>
                        <div class="row no-gutters m-1">
                            <div class="col-md-4 mt-3 mb-3">
                                @foreach (var image in realEstate.Images)
                                {
                                    <img src="/images/real-estate-images/@image.ImageUrl" class="card-img" style="width:100%; height:auto;">
                                }
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="estate-price">@realEstate.Price.ToString("N1") TL</h5>
                                    <p class="estate-title">@realEstate.Title</p>
                                    <p class="card-text">
                                        <small class="estate-property">@realEstate.Type @realEstate.Category.Name | @realEstate.SquareMeters m²</small>
                                        @foreach (var attributeValue in realEstate.AttributeValues.Where(av => av.CategoryAttribute.Name == "Oda Sayısı"))
                                        {
                                            <small class="estate-property">| @attributeValue.Value</small>
                                        }
                                        @foreach (var attributeValue in realEstate.AttributeValues.Where(av => av.CategoryAttribute.Name == "Kat Sayısı"))
                                        {
                                            <small class="estate-property">| @(attributeValue.Value). Kat</small>
                                        }
                                        @foreach (var attributeValue in realEstate.AttributeValues.Where(av => av.CategoryAttribute.Name == "Bina Yaşı"))
                                        {
                                            if (int.TryParse(attributeValue.Value, out int age))
                                            {
                                                <small class="estate-property">| @(DateTime.Now.Year - age) Yıllık</small>
                                            }
                                        }
                                    </p>
                                    <p class="card-text">
                                        <i class="fa-regular fa-location-dot"></i><small class="text-muted location-info"> @realEstate.Location.District, @realEstate.Location.Neighborhood</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>